* {
    margin: 0;
    box-sizing: border-box;
}

#headerList {
    width: 100vw;
    margin: 0 auto;
    display: flex;
}

/* .parent {
    float: left;
    background-color: blueviolet;
    margin: 0;
    width: calc(100% / 6);
    height: calc(100%);
    border: 2px solid white;
    } */
    
.parent {
    color: white;
    text-align: center;
    line-height: 60px;
    width: calc(100% / 6);
    height: 60px;
    background-color: blueviolet;
    position: relative;
    transition: all .3s;
}

.parent:hover {
    background-color: aquamarine;
}

/* 未反映 */
.parent:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: chocolate;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}

.parent a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
}

.child {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    padding-left: 0;
}

.parent:hover .child {
    display: block;
}

.childItem {
    background-color: gold;
    height: 60px;
    transition: all .3s;
    position: relative;
}

.childItem:not(:first-child)::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.childItem:hover {
    background-color: green;
}

.childItem a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;
    position: relative;

    width: 100%;
}

.childItem a::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}

/* #header {
    top: 0;
    position: sticky;
    width: 100%;
    height: 62px;
    border: 0px;
    background-color: aqua;
    padding: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;

    
} */

/* #main {
    top: 500px;
    width: 100vw;
    background-color:greenyellow;
} */