<div id="header">

    <div class="headerItem">
        <div class="linkBlock">
            <a href="{{ '/index.html' | relative_url}}">Top</a>
        </div>
    </div>

    <div class="headerItem">
        <div class="topLinkBlock">
            <a href="{{ '/index.html#language' | relative_url}}">言語</a>
        </div>
        <ul class="dropdown">
            <li class="dropdownItem linkBlock"><a href="{{ '/Note/language/Java/Java.html' | relative_url}}">Java</a></li>
            <li class="dropdownItem linkBlock"><a href="{{ '/Note/language/HTML/HTML.html' | relative_url}}">HTML</a></li>
            <li class="dropdownItem linkBlock"><a href="{{ '/Note/language/CSS/CSS.html' | relative_url}}">CSS</a></li>
            <li class="dropdownItem linkBlock"><a href="">JavaScript</a></li>
            <li class="dropdownItem linkBlock"><a href="">MySQL</a></li>
            <li class="dropdownItem linkBlock"><a href="">Python</a></li>
        </ul>
    </div>

    <div class="headerItem">
        <div class="topLinkBlock">
            <a href="{{ '/index.html#tool' | relative_url}}">ツール</a>
        </div>
        <ul class="dropdown">
            <li class="dropdownItem linkBlock"><a href="">Eclipse</a></li>
            <li class="dropdownItem linkBlock"><a href="{{ '/Note/tool/VSCode/VSCode.html' | relative_url}}">VSCode</a></li>
            <li class="dropdownItem linkBlock"><a href="">Git</a></li>
            <li class="dropdownItem linkBlock"><a href="">Linux</a></li>
        </ul>
    </div>

    <div class="headerItem">
        <div class="topLinkBlock">
            <a href="{{ '/index.html#CS' | relative_url}}">CS</a>
        </div>
        <ul class="dropdown">
            <li class="dropdownItem linkBlock"><a href="{{ '/Note/CS/Web/Web.html' | relative_url}}">Web</a></li>
        </ul>
    </div>

    <div class="headerItem">
        <div class="topLinkBlock">
            <a href="{{ '/index.html#dev' | relative_url}}">開発</a>
        </div>
        <ul class="dropdown">
            <li class="dropdownItem linkBlock"><a href="">要件定義</a></li>
            <li class="dropdownItem linkBlock"><a href="">設計</a></li>
            <li class="dropdownItem linkBlock"><a href="">開発</a></li>
            <li class="dropdownItem linkBlock"><a href="">テスト</a></li>
            <li class="dropdownItem linkBlock"><a href="">リリース</a></li>
        </ul>
    </div>

    <div class="headerItem">
        <div class="topLinkBlock">
            <a href="{{ '/index.html#other' | relative_url}}">その他</a>
        </div>
        <ul class="dropdown">
            <li class="dropdownItem linkBlock"><a href="">参考図書等</a></li>
            <li class="dropdownItem linkBlock"><a href="">自作アプリ</a></li>
            <li class="dropdownItem linkBlock"><a href="">暗記道場</a></li>
        </ul>
    </div>
</div>