<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/common.css">
</head>

<!-- ---
layout: default
title: 親見出し：小見出し
--- -->
<body>
    <div class="block">
        <h1>親見出し：小見出し</h1>
    </div>
    
    <div class="block">
            <h2>タイトル</h2>

            <!-- <div class="codeText">
                セレクタ {<br>
                　　display: block;<br>
                }
            </div> -->

            <!-- <p>出典サイト：
                <a href="{{ 'https://web-camp.io/magazine/archives/85024/' | relative_url }}">DMM WEBCAMP 『タイトル』</a>
            </p> -->
    </div>
</body>