@charset "utf-8";

/* サイト左上の変更履歴 */
#period {
    color: darkgray;
    text-align: left;
}

/* サイトの説明 */
#explainSite {
    text-align: center;
}

#tableOfContent {
    /* background-color: brown; */
    padding: 2%;
}

.tableTitle {
    margin-bottom: 10px;
}

.indexTitle {
    text-align: center;
}

.indexTitle a {
    text-decoration: none;
    color: cadetblue;
}

.tableIndex {
    width: 100%;
    display: flex;
    flex-flow: row;
    /* background-color: aquamarine; */
}

.indexBlock {
    width: calc(100% / 5);
    border: 4px outset;
}

#separateLine {
    height: 5px;
    /* background-color: cadetblue; */
    border-bottom: 5px solid cadetblue;
}

.grammarBlock {
    width: calc(100% / 6);
    border: 4px outset;
}

.toolBlock {
    width: calc(100% / 4);
    border: 4px outset;
}

.devBlock {
    width: calc(100% / 5);
    border: 4px outset;
}

.otherBlock {
    width: calc(100% / 3);
    border: 4px outset;
}