<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../commonConfig/jquery-3.7.1.min.js"></script>
    <script src="../../../commonConfig/common.js"></script>
    <link rel="stylesheet" href="../../../commonConfig/common.css">
    <title>タイトル</title>
</head>
<body>
    <div class="block">
        <h1>タイトル</h1>
    </div>

    <div class="block">
        <h2>小見出し</h2>
        <p></p>
    </div>

    <div class="block">
        <a href="../../..">サイトTopに戻る</a>
        /<a href="..">JavaページTopに戻る</a>
        /<a href="..">JSPの目次に戻る</a>
    </div>
</body>
</html>