<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../commonConfig/jquery-3.7.1.min.js"></script>
    <script src="../../commonConfig/common.js"></script>
    <link rel="stylesheet" href="../../commonConfig/common.css">
    <title>タイトル</title>
</head>
<body>
    <div class="block">
        <h1>タイトル</h1>
    </div>

    <div class="block">
        <h2>目次</h2>
        <ul>
            <li>
                <a href="#hoge">文法</a>
            </li>
        </ul>
    </div>

    <div id="hoge" class="block">
        <h2>文法</h2>
        <ul>
            <li><a href="hoge/hoge.html">小見出し</a></li>
        </ul>
    </div>

    <div class="block">
        <a href="../../index.html">サイトTopに戻る</a>
    </div>
</body>
</html>