<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 共通のCSS -->
    <link rel="stylesheet" href="{{ '/assets/css/common.css' | relative_url }}">
    <!-- ページごとのCSS -->
    {% if page.css %}
        <link rel="stylesheet" href="{{ '/assets/css/' | append: page.css | relative_url }}">
    {% endif %}
    
    <title>{{ page.title }}</title>
</head>
<body>
    
    <!-- 共通ヘッダー -->
     {% include header.html %}

     <main>
        {{ content }}
     </main>

     <script src="{{ '/assets/js/common.js' |relative_url }}"></script>
</body>
</html>