* {
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    margin: 0;
    display: flex;
}

.headerItem {
    height: 60px;
    width: calc(100% / 6);
    line-height: 60px;
    text-align: center;
    position: relative;

    color: white;
    background-color: cadetblue;
    transition: all 0.3s;
    border: 1px solid white;
}

.headerItem:hover {
    background-color: rgb(116, 208, 177);
}

.headerItem a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    padding-left: 0;
}

.headerItem:hover .dropdown {
    display: block;
}

.dropdownItem {
    position: relative;
    
    background-color: cadetblue;
    border: 1px solid white;
    transition: all 0.3s;
}

.dropdownItem:hover {
    background-color: rgb(116, 208, 177);
}
