@charset "utf-8";

/* サイト全体の設定 */
* {
    /* margin: 0; */
    box-sizing: border-box;
}

/* コードを記述する際のレイアウト */
.codeText {
    color: white;
    background-color: black;
    padding: 20px;
}

/* 各ページのタイトル(ページ上部の大見出し) */
h1 {
    color: cadetblue;
    text-align: center;
}

/* 小見出し */
h2, h3 {
    color: cadetblue;
    /* padding-left: 20px; */
}

/* a要素の上にカーソルがある場合に対象文字を斜めにする */
a:hover {
    font-style: italic;
}

/* 各ブロック */
.block {
    padding: 20px;
    border-bottom: 1px solid cadetblue;
}

/* レスポンシブデザイン用 */
@media only screen and (max-width : 1000px){

}

/* 以下、ヘッダー用 */
* {
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
}

.headerItem {
    height: 60px;
    width: calc(100% / 6);
    line-height: 60px;
    text-align: center;
    position: relative;

    color: white;
    background-color: cadetblue;
    transition: all 0.3s;
    border: 1px solid white;
}

.headerItem:hover {
    background-color: rgb(116, 208, 177);
}

.headerItem a {
    text-decoration: none;
    color: white;
}

.headerItem:hover a{
    font-style: normal;
}

.linkBlock {
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.headerItem:hover .dropdown {
    display: block;
}

.dropdownItem {
    position: relative;
    
    background-color: cadetblue;
    border: 1px solid white;
    transition: all 0.3s;
}

.dropdownItem:hover {
    background-color: rgb(116, 208, 177);
}

.block {
    background-color: blueviolet;
}
